.about-header {
	margin-top: -60px;
	margin-bottom: 80px;

	.about-header-inner {
		.container();

		.remove-side-padding();
	}

	.about-header-content-wrapper {
		.make-md-column(8);
		.make-md-column-offset(2);

		.remove-side-padding();
	}

	.about-header-panels {
		.about-header-pane {
			height: 300px;
			.make-background-size-cover('/images/wood-texture.jpg');
		}

		.pane-image {
			width: 230px;
			height: 415px;
			background-color: @dark-red;
			position: absolute;
			left: 0;
			top: -50px;
			padding: 0 20px;
		}

		.pane-copy {
			padding: 35px 30px;
			margin-left: 230px;
		}
	}

	.nav-tabs {
		border-bottom: 0;
		margin-left: 230px;
		padding: 0 10px;

		li.active {
			a {
				
				&, &:hover, &:active {
					border: 0;
				}

				span {
					.hilite();
				}
			}
		}

		a {
			.h4();
			color: black;
			text-transform: none;

			padding: 20px;
			margin: 0;

			&, &:hover, &:active, &:focus {
				border: 0;
				background-color: transparent;
			}
			

			&:hover {

				span {
					.hilite();
				}
			}
		}
	}
}