.about-header {
	margin-bottom: 80px;

	@media (min-width: @screen-sm) {
		margin-top: -60px;
	}

	.about-header-inner {
		.container();
		.remove-side-padding();

		@media (min-width: @screen-md) and (max-width: @screen-lg) {
			width: 750px;
		}
	}

	.about-header-content-wrapper {
		position: relative;

		@media (min-width: @screen-lg) {
			.make-md-column(8);
			.make-md-column-offset(2);
			.remove-side-padding();
		}

		.remove-side-padding();
	}

	.about-header-panels {
		.make-background-size-cover('/images/wood-texture.jpg');
		
		.about-header-pane {
			@media (min-width: @screen-md) {
				height: 300px;
			}
		}

		.pane-image {
			.clearfix();
			
			height: 215px;
			background-color: @dark-red;
			padding: 0 20px;

			@media (min-width: @screen-sm) {
				width: 230px;
				height: 415px;

				position: absolute;
				left: 0;
				top: -50px;
			}
		}

		.pane-copy {
			padding: 35px 30px;

			@media (min-width: @screen-sm) {
				margin-left: 230px;
			}
		}
	}

	.nav-tabs {
		border-bottom: 0;
		padding: 0 10px;

		@media (min-width: @screen-sm) {
			margin-left: 230px;
		}

		li.active {
			a {
				
				&, &:hover, &:active {
					border: 0;
				}

				span {
					.hilite();
				}
			}
		}

		a {
			.h4();
			color: black;
			text-transform: none;

			padding: 20px;
			margin: 0;

			&, &:hover, &:active, &:focus {
				border: 0;
				background-color: transparent;
			}
			

			&:hover {

				span {
					.hilite();
				}
			}
		}
	}
}