.btn, .color-box {
	.h3();
	display: inline-block;
	padding: 25px;
	letter-spacing: .05em;

	background-color: @light-blue;
	border: none;
	border-radius: 0;

	margin: 0;

	&.btn-orange {
		background-color: @orange;
	}

	&.btn-burnt-orange {
		background-color: @burnt-orange;
	}

	&.btn-yellow {
		background-color: @yellow;
	}

	&.btn-dark-red {
		background-color: @dark-red;
	}

	&.btn-purple {
		background-color: @purple;
	}
}

.btn-emergency {
	.h5();

	position: absolute;
	top: 240px;
	left: -78px;

	padding: 12px;
	margin: 0;

	background-color: @burnt-orange;
	cursor: pointer;

	.rotate(90deg);

	.no-csstransforms & {
		left: 0;
		padding: 0;

		.emergency-icon, .emergency-type {
			display: none;
		}

		img {
			display: block;
		}
	}

	.emergency-icon {
		width: 20px;
		margin-right: 10px;

		.make-icon(before; @icon-plus; 14px);
	}

	img {
		display: none;
	}

	@media (max-width: @screen-md) {
		display: none;
	}

	.nav & {
		display: inline-block;
		position: static;
		border-radius: 6px;
		
		.rotate(0deg);
	}
}



.btn-submit {
	.ajax-loader {
		display: none;
		margin-left: 10px;

		 &.active {
			display: inline-block;
		}
	}
}