.footer {
	padding-bottom: 30px;
	background-color: @light-grey;

	.footer-inner {
		.container();
		min-height: 135px;
		padding: 30px 15px;
		.make-background-size-cover('/images/wood-texture.jpg');

		@media (min-width: @screen-md) {
			padding: 30px 40px;
		}
		
	}

	.footer-nav {
		.make-md-column(2);
	}

	.footer-contact {
		.make-md-column(4);
	}

	.footer-legal {
		.make-md-column(6);

		@media (min-width: @screen-md) {
			text-align: right;

			br {
				display: none;
			}
		}
	}

	.footer-social {
		margin-top: 20px;
		
		a {
			height: 51px;
			display: inline-block;
			padding: 10px;
		}

		.facebook, .twitter {
			&:before {
				.transition(0.3s);
			}

			&:hover {
				> span {
					display: block;
				}
			}
		}

		.facebook {
			.make-icon(before; @icon-facebook; 28px);
			
			&:hover:before {
				color: #3B5998
			}
		}

		.twitter {
			.make-icon(before; @icon-twitter; 28px);
			
			&:hover:before {
				color: #55ACEE;
			}
		}
	}

	.footer-nav, .footer-contact, .footer-legal {
		.remove-side-padding();

		@media (max-width: @screen-sm-max) {
			text-align: center;
		}
	}

	h6 {
		text-transform: none;

		margin-bottom: 15px;
		margin-left: 10px;
		margin-right: 10px;

		@media (max-width: @screen-sm-max) {
			display: inline-block;
		}
	}

	a {
		&.contact-info {
			.hl {
				margin-left: 35px;
			}
		}
		
		&.privacy-link {
			margin-top: 15px;
			display: inline-block;

			@media (min-width: @screen-md) {
				margin-top: 0;
				margin-left: 20px;
			}
		}

		&, &:hover, &:active, &:focus {
			color: white;
		}

		&:hover {
			text-decoration: none;

			.hl {
				.hilite();
			}
		}
	}

	.phone-number, .email {
		position: absolute;
	}

	.phone-number {
		margin-right: 10px;
		.make-icon(before; @icon-phone; 24px);
	}

	.email {
		margin-right: 10px;
		.make-icon(before; @icon-envelope; 26px);
	}
}