.navbar {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;

	border: none;
	background-color: transparent;

	.contact & {
		position: static;
	}

	.navbar-nav {
		padding: 0 20px;
	}

	.navbar-inner {
		.container();

		ul {
			background-color: white;
			background-color: rgba(255,255,255,0.85);

			> li  {
				.h4();
				margin: 0;

				&.nav-contact {
					.h5();
					margin: 0;

					a {
						padding-top: 37px;
					}
				}

				.phone-number, .email {
					margin-right: 10px;
				}

				.phone-number {
					.make-icon(before; @icon-phone; 24px);
				}

				.email {
					.make-icon(before; @icon-envelope; 26px);
				}

				a {
					padding: 45px 22px; 	
					color: black;
				}

				&:hover, &.current {
					> a > .hl {
						.hilite();
					}
				}

			}//li
		}//ul
	}

	.navbar-brand {
		width: 260px;
		height: 107px;
		margin-top: 10px;

		background: url('/images/alisons-white-type.svg');
		background-size: 260px 107px;

		.contact & {
			background: url('/images/alisons-black-type.svg');
			background: url('/images/alisons-white-type.svg');
		}
	}
}