.team {
	.team-inner {
		.container();
		.remove-side-padding();
	}

	.members {
		.make-md-column(8);
		.make-md-column-offset(2);

		.remove-side-padding();
	}

	h2 {
		color: black;
		text-align: center;
		margin-bottom: 30px;

		span {
			font-size: 12px;
			font-style: italic;
			text-transform: capitalize;
		}
	}

	.member {
		//.make-md-column(6);
		margin-bottom: 45px;

		//new
		.clearfix();

		&.alex {
			.member-image {
				.make-background-size-cover('/images/team/Alex.jpg');

				@media (min-width: @screen-xs) and (max-width: @screen-sm-max) {
					background-position: center -170px !important;
				}
			}
		}

		&.siobhan {
			.member-image {
				.make-background-size-cover('/images/team/Siobhan.jpg');
			}
		}

		&.laura {
			.member-image {
				.make-background-size-cover('/images/team/Laura.jpg');
			}
		}

		.member-title, .member-description {
			color: black;
		}

		.member-image-wrapper {
			//position: relative;
			//width: 100%;
			

			//new
			.make-md-column(4);

			@media (max-width: @screen-sm-max) {
				background-position: center top !important;
			}
		}

		.member-image {
			height: 250px;
		}

		.member-bio {
			.make-md-column(8);
		}

		.member-name {
			position: absolute;
			bottom: 0;
			left: 0;
		}


		.member-title {
			/*text-transform: none;
			
			margin-top: 15px;
			margin-bottom: 30px;*/
			font-style: italic;

			//new
			margin-bottom: 20px;
			text-transform: none;

			@media (max-width: @screen-sm-max) {
				margin-top: 20px;
			}
		}

		.member-description {
			//&:extend(p.small);
			text-align: justify;
		}
	}
}